@{
    ViewData["Title"] = "Dettaglio pacchetto";
}

@model TravelPackage

<h1 class="text-center">Dettagli pacchetto @Model.Title</h1>

<div class="card my-3 mx-auto" style="width: 25rem;">
    <img src="@Model.Cover" class="card-img-top" style="height:15rem;">
    <div class="card-body">
        <h2 class="card-title">@Model.Title</h2>
        <p class="card-text">Descrizione: @Model.Description</p>
        <span class="d-block pb-3">Prezzo: € @Model.Price</span>
        <a href="@Url.Action("Update", "TravelPackage", new {id = Model.Id})" class="btn btn-primary">Modifica pacchetto</a>
        <form class="d-inline" asp-action="Delete" asp-controller="TravelPackage" asp-route-id="@Model.Id" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Elimina pacchetto</button>
        </form>
    </div>
</div>

<h2 class="text-center pt-4 pb-3">Lista messaggi collegati</h2>

@if (Model.Messages.Count > 0)
{
    <ul class="list-group flex-row flex-wrap justify-content-center">
        @foreach (Message mex in Model.Messages)
        {
            <li class="card my-3 me-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@mex.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Da: @mex.Name</h6>
                    <h6 class="card-subtitle mb-2">Email: <a class="link-primary ms_pointer">@mex.Email</a></h6>
                    <p class="card-text">@mex.Content</p>
                </div>
            </li>
        }
    </ul>
}
else
{
    <h3>Nessun messaggio collegato a questo pacchetto</h3>
}